@media only screen 
and (min-device-height: 350px) 
and (max-device-width: 420px)  {

  .navBar{
    height: auto 
  }
  .navBar button{
    position: relative;
    right: -2rem;
    border: 1px solid white !important;
    font-size: x-small !important;
}  
  .title{
    font-size: 1.8rem !important;
 
    position: relative;
    top: 5rem;
  }
  .bottom{
    margin-bottom: 70px !important;
  }

}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  color: white;
  /* margin-bottom: 2rem; */
  padding: 1.5rem 2rem;
  background-image: url("./images/IMG_9006.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto; 
  margin-bottom: 2rem;
  box-shadow: -5px 10px 27px 0px rgba(25, 25, 25, 0.22);
}


.title{
  font-family: 'Ms Madi', cursive;
  font-size: 4rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
  margin-top: 100px;
  margin-right: 32px;
  font-family: Kohinoor Telugu;
  
}

.navBar button:hover {
  background: white;
  color: rgb(87, 149, 212);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

/* .bottom{
  padding-bottom: 30rem;
} */