.ppcontainer{
margin: 0 auto;
max-width: 80%;
overflow: auto;
text-align: center;    
}

.ppchild{
    margin-top: 7%;
    margin-bottom: 7%;
}

a {
    text-decoration: none;
  }

.pptitles {
    font-size: larger;
}
