@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) {

    h1{
        font-size: 3rem !important;
    }
    h2{
        font-size: 2rem !important;
    }
    .videocontainer{
        flex-direction: column;
        flex-wrap: wrap;
    }

}


.ppcontainer{
    margin: 0 auto;
    max-width: 80%;
    overflow: auto;
    text-align: center;    
}


.videocontainer{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.vcchild{
    margin: 2rem;
    margin-top: 2rem;
}

.ppchild{
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
  }

.pptitles {
    font-size: larger;
}

h1{
    font-family: 'Ms Madi', cursive;
    font-size: 7rem;
    color: black;
}

h2{
    font-family: 'Ms Madi', cursive;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

h3{
    font-family: Kohinoor Telugu;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 100;
}

p{
    font-size: medium;
}

.imagechild{
    margin: 1rem
}

.decorated-title {
    position: relative;
}

.aboutinfo{
    margin-top: 2rem;
}


h2::after {
    display: inline-block;
    margin: 0 20px 5px 9;
    height: .1rem;
    content: " ";
    text-shadow: none;
    background-color:black;
    width: 20rem;
}

h2::before {
    display: inline-block;
    margin: 0 20px 5px 9;
    height: .1rem;
    content: " ";
    text-shadow: none;
    background-color:black;
    width: 20rem;
}
